/*
Pallet based on Flexoki:
https://stephango.com/flexoki
*/

:root {
  --white:       #FFFFFF;
  --black:       #000000;

  --stone-50:    #FAFAF9;
  --stone-100:   #F5F5F4;
  --stone-200:   #E7E5E4;
  --stone-300:   #D6D3D1;
  --stone-400:   #A6A09B;
  --stone-500:   #79716B;
  --stone-600:   #57534D;
  --stone-700:   #44403B;
  --stone-800:   #292524;
  --stone-900:   #1C1917;
  --stone-950:   #0C0A09;

  --red-50:      #FFE1D5;
  --red-100:     #FFCABB;
  --red-150:     #FDB2A2;
  --red-200:     #F89A8A;
  --red-300:     #E8705F;
  --red-400:     #D14D41;
  --red-500:     #C03E35;
  --red-600:     #AF3029;
  --red-700:     #942822;
  --red-800:     #6C201C;
  --red-850:     #551B18;
  --red-900:     #3E1715;
  --red-950:     #261312;

  --orange-50:   #FFE7CE;
  --orange-100:  #FED3AF;
  --orange-150:  #FCC192;
  --orange-200:  #F9AE77;
  --orange-300:  #EC8B49;
  --orange-400:  #DA702C;
  --orange-500:  #CB6120;
  --orange-600:  #BC5215;
  --orange-700:  #9D4310;
  --orange-800:  #71320D;
  --orange-850:  #59290D;
  --orange-900:  #40200D;
  --orange-950:  #27180E;

  --yellow-50:   #FAEEC6;
  --yellow-100:  #F6E2A0;
  --yellow-150:  #F1D67E;
  --yellow-200:  #ECCB60;
  --yellow-300:  #DFB431;
  --yellow-400:  #D0A215;
  --yellow-500:  #BE9207;
  --yellow-600:  #AD8301;
  --yellow-700:  #8E6B01;
  --yellow-800:  #664D01;
  --yellow-850:  #503D02;
  --yellow-900:  #3A2D04;
  --yellow-950:  #241E08;

  --green-50:    #EDEECF;
  --green-100:   #DDE2B2;
  --green-150:   #CDD597;
  --green-200:   #BEC97E;
  --green-300:   #A0AF54;
  --green-400:   #879A39;
  --green-500:   #768D21;
  --green-600:   #66800B;
  --green-700:   #536907;
  --green-800:   #3D4C07;
  --green-850:   #313D07;
  --green-900:   #252D09;
  --green-950:   #1A1E0C;

  --cyan-50:     #DDF1E4;
  --cyan-100:    #BFE8D9;
  --cyan-150:    #A2DECE;
  --cyan-200:    #87D3C3;
  --cyan-300:    #5ABDAC;
  --cyan-400:    #3AA99F;
  --cyan-500:    #2F968D;
  --cyan-600:    #24837B;
  --cyan-700:    #1C6C66;
  --cyan-800:    #164F4A;
  --cyan-850:    #143F3C;
  --cyan-900:    #122F2C;
  --cyan-950:    #101F1D;

  --blue-50:     #E1ECEB;
  --blue-100:    #C6DDE8;
  --blue-150:    #ABCFE2;
  --blue-200:    #92BFDB;
  --blue-300:    #66A0C8;
  --blue-400:    #4385BE;
  --blue-500:    #3171B2;
  --blue-600:    #205EA6;
  --blue-700:    #1A4F8C;
  --blue-800:    #163B66;
  --blue-850:    #133051;
  --blue-900:    #12253B;
  --blue-950:    #101A24;

  --purple-50:   #F0EAEC;
  --purple-100:  #E2D9E9;
  --purple-150:  #D3CAE6;
  --purple-200:  #C4B9E0;
  --purple-300:  #A699D0;
  --purple-400:  #8B7EC8;
  --purple-500:  #735EB5;
  --purple-600:  #5E409D;
  --purple-700:  #4F3685;
  --purple-800:  #3C2A62;
  --purple-850:  #31234E;
  --purple-900:  #261C39;
  --purple-950:  #1A1623;

  --magenta-50:  #FEE4E5;
  --magenta-100: #FCCFDA;
  --magenta-150: #F9B9CF;
  --magenta-200: #F4A4C2;
  --magenta-300: #E47DA8;
  --magenta-400: #CE5D97;
  --magenta-500: #B74583;
  --magenta-600: #A02F6F;
  --magenta-700: #87285E;
  --magenta-800: #641F46;
  --magenta-850: #4F1B39;
  --magenta-900: #39172B;
  --magenta-950: #24131D;
}
