/*
Set data-theme="light" or data-theme="dark" on <html> to override the OS.
*/

:root {
  color-scheme: light dark;

  --bg: light-dark(var(--paper), var(--black)); /* Main background */
  --bg-2: light-dark(var(--base-50), var(--base-950)); /* Secondary background */
  --ui: light-dark(var(--base-100), var(--base-900)); /* Borders */
  --ui-2: light-dark(var(--base-150), var(--base-850)); /* Hovered borders */
  --ui-3: light-dark(var(--base-200), var(--base-800)); /* Active borders */
  --tx-3: light-dark(var(--base-300), var(--base-700)); /* Faint text */
  --tx-2: light-dark(var(--base-600), var(--base-500)); /* Muted text */
  --tx: light-dark(var(--black), var(--base-200)); /* Primary text */

  --re: light-dark(var(--red-600), var(--red-400)); /* Error text */
  --or: light-dark(var(--orange-600), var(--orange-400)); /* Warning text */
  --ye: light-dark(var(--yellow-600), var(--yellow-400));
  --gr: light-dark(var(--green-600), var(--green-400)); /* Success text */
  --cy: light-dark(var(--cyan-600), var(--cyan-400)); /* Links, active states */
  --bl: light-dark(var(--blue-600), var(--blue-400));
  --pu: light-dark(var(--purple-600), var(--purple-400));
  --ma: light-dark(var(--magenta-600), var(--magenta-400));

  --re-2: light-dark(var(--red-400), var(--red-600));
  --or-2: light-dark(var(--orange-400), var(--orange-600));
  --ye-2: light-dark(var(--yellow-400), var(--yellow-600));
  --gr-2: light-dark(var(--green-400), var(--green-600));
  --cy-2: light-dark(var(--cyan-400), var(--cyan-600));
  --bl-2: light-dark(var(--blue-400), var(--blue-600));
  --pu-2: light-dark(var(--purple-400), var(--purple-600));
  --ma-2: light-dark(var(--magenta-400), var(--magenta-600));
}

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}
